version: '3'

services:
  atom:
    image: dockerhub.qingcloud.com/pressone/atom
    env_file:
      - ./config/atom.env
    command: bash -c "/wait-for-it.sh postgres:5432 -- diesel migration run && /app/atom syncserver"
    restart: always
    depends_on:
      - postgres

  atom_web:
    image: dockerhub.qingcloud.com/pressone/atom
    env_file:
      - ./config/atom.env
    command: bash -c "/wait-for-it.sh postgres:5432 -- diesel migration run && /app/atom web"
    ports:
      - 7070:7070
    restart: always
    depends_on:
      - postgres

  postgres:
    image: dockerhub.qingcloud.com/pressone/postgres
    hostname: postgres
    ports:
      - 5432:5432
    volumes:
      - ./pg-init-scripts:/docker-entrypoint-initdb.d
      - ./postgresql:/var/lib/postgresql/data
    environment:
      POSTGRES_MULTIPLE_DATABASES: pub,pub_wallet,reader,reader_wallet,atom
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 8e01d6f60c7a846c38d5f99cf3f53383

  redis:
    image: 'dockerhub.qingcloud.com/pressone/redis:alpine'
    ports:
      - '6379:6379'
    command: redis-server --requirepass a863a35d270fceb110f96374d75c219f --appendonly yes
    volumes:
      - './redis:/data'
    restart: 'always'
